.button-pattern {
  border-radius: 20%;
  border: 10px solid black;
  transition: transform 0.2s;
  background-size: cover;
}

/* Colour Pattern Theme */

.redColour {
  background-color: red;
}

.blueColour {
  background-color: blue;
}

.cyanColour {
  background-color: cyan;
}

.darkGrayColour {
  background-color: darkgray;
}

.greenColour {
  background-color: green;
}

.magentaColor {
  background-color: magenta;
}

.purpleColour {
  background-color: purple;
}

.orangeColour {
  background-color: orange;
}

.yellowColour {
  background-color: yellow;
}

/* Elon Musk Pattern Theme */

.cool {
  background-image: url("../../assets/images/elon-musk/cool.webp");
}
.cowboy {
  background-image: url("../../assets/images/elon-musk/cowboy.webp");
}
.cowboy2 {
  background-image: url("../../assets/images/elon-musk/cowboy2.webp");
}

.crypto {
  background-image: url("../../assets/images/elon-musk/crypto.webp");
}

.doctor {
  background-image: url("../../assets/images/elon-musk/doctor.webp");
}

.doubleok {
  background-image: url("../../assets/images/elon-musk/doubleok.webp");
}

.iceland {
  background-image: url("../../assets/images/elon-musk/iceland.webp");
}

.neuralink {
  background-image: url("../../assets/images/elon-musk/neuralink.webp");
}

.roadster {
  background-image: url("../../assets/images/elon-musk/roadster.webp");
}

.spacex {
  background-image: url("../../assets/images/elon-musk/spacex.webp");
  background-size: ;
}

.smoking {
  background-image: url("../../assets/images/elon-musk/stogie.webp");
}

.smoking2 {
  background-image: url("../../assets/images/elon-musk/stogie2.webp");
}

.tesla {
  background-image: url("../../assets/images/elon-musk/tesla.webp");
}

.twitter {
  background-image: url("../../assets/images/elon-musk/twitter.webp");
}

.wario {
  background-image: url("../../assets/images/elon-musk/wario.webp");
}

/* The Office Pattern Theme */

.andy {
  background-image: url("../../assets/images/the-office/andy.webp");
}

.angela {
  background-image: url("../../assets/images/the-office/angela.webp");
}

.creed {
  background-image: url("../../assets/images/the-office/creed.webp");
}

.dwight {
  background-image: url("../../assets/images/the-office/dwight.webp");
}

.dwight2 {
  background-image: url("../../assets/images/the-office/dwight2.webp");
}

.dwight-neckthing {
  background-image: url("../../assets/images/the-office/dwight-neckthing.gif");
}

.dwight-overjoyed {
  background-image: url("../../assets/images/the-office/dwight-overjoyed.gif");
}

.kevin {
  background-image: url("../../assets/images/the-office/kevin.webp");
}

.kevin2 {
  background-image: url("../../assets/images/the-office/kevin2.gif");
}

.kelly {
  background-image: url("../../assets/images/the-office/kelly.webp");
}

.jim {
  background-image: url("../../assets/images/the-office/jim.webp");
}

.michael {
  background-image: url("../../assets/images/the-office/michael.gif");
}

.michael-boss {
  background-image: url("../../assets/images/the-office/michael-boss.gif");
}

.pam {
  background-image: url("../../assets/images/the-office/pam.webp");
}

.toby {
  background-image: url("../../assets/images/the-office/toby.webp");
}

.ryan {
  background-image: url("../../assets/images/the-office/ryan.webp");
}

.scott-boss {
  background-image: url("../../assets/images/the-office/dwight2.webp");
}

.stanley {
  background-image: url("../../assets/images/the-office/stanley.webp");
}

.stanley-crossedarms {
  background-image: url("../../assets/images/the-office/stanley-crossedarms.gif");
}

.stanley-curious {
  background-image: url("../../assets/images/the-office/stanley-curious.gif");
}

.stanley-himself {
  background-image: url("../../assets/images/the-office/stanley-himself.gif");
}

/* Game Button Effects */

.pressed {
  box-shadow: 0 0 20px white;
  background-color: darkgray;
}

button:hover {
  transform: scale(1.07);
}

.sequence-fade {
  opacity: 1;
  animation: fade 0.3s linear;
}

@keyframes fade {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
