.gameover {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.gameover .first {
  display: flex;
  flex-direction: column;
}

.gameover .second {
  flex-direction: column;
  display: flex;
}

.gameover .first img {
  /* width: 12.5rem; */
  animation: spin 1s;
  border-radius: 2%;
}

.gameover .second img {
  border-radius: 2%;
  width: 18.75rem;
  margin: 0.5rem auto;
}

.title {
  font-size: 3.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.score-title {
  font-size: 3rem;
  font-weight: 600;
}

.score {
  font-size: 4.25rem;
  color: yellow;
}

.genius {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  align-items: center;
}

/* Elon Musk Theme */

.elon-disappointed img {
  width: 30rem;
}

.elon-mad img {
  width: 25rem;
  position: relative;
  right: 20px;
}

.elon-what img {
  width: 30rem;
}

.protestor img {
  width: 30rem;
  animation: bounce 3s linear;
}

/* The Office Theme */

.dwight-pissed img {
  width: 20rem;
}

.scott-crying img {
  width: 20rem;
}

.scott-mad img {
  width: 20rem;
}

.scott-nooo img {
  width: 20rem;
}

.genius-level {
  margin: 1rem, auto, auto;
}

.message {
  font-size: 1.25rem;
  width: 75%;
  font-weight: 100;
  margin-bottom: 1rem;
}

/* .bounce {
  animation: bounce 3s linear;
} */

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(3);
  }

  25% {
    opacity: 1;
    transform: scale(2.875);
  }

  50% {
    opacity: 1;
    transform: scale(2.25);
  }

  75% {
    opacity: 1;
    transform: scale(1.625);
  }

  100% {
    transform: scale(1);
  }
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
} */
