.gameover {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.first {
  display: flex;
  flex-direction: column;
}

.second {
  flex-direction: column;
  display: flex;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.first img {
  border-radius: 2%;
}

.second img {
  border-radius: 2%;
  margin: 1rem auto;
}

.title {
  font-size: 3.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: red;
}

.score-title {
  font-size: 2.75rem;
}

.score {
  color: yellow;
}

.genius {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genius-level {
  margin: 2rem, auto;
  font-size: 1.75rem;
}

.genius-level a {
  color: lightskyblue;
  text-decoration: none;
}

img.patrick {
  width: 20rem;
}

img.novice {
  width: 16rem;
}

img.unexpected {
  width: 25rem;
}

img.christopher {
  width: 12rem;
}

img.isaac {
  width: 22rem;
}

img.garry {
  width: 20rem;
}

img.nikola {
  width: 10rem;
}

img.leonardo {
  width: 23rem;
}

img.albert {
  width: 13rem;
}

img.galaxy {
  width: 16rem;
}

.message {
  font-size: 1.5rem;
  width: 100%;
  color: greenyellow;
}

.message.unexpected {
  width: 60%;
}

.message.christopher {
  width: 60%;
}

.message.isaac {
  width: 55%;
}

.message.garry {
  width: 55%;
}

.message.nikola {
  width: 50%;
}

.message.leonardo {
  width: 55%;
}

.message.albert {
  width: 60%;
}

.message.galaxy {
  font-size: 1.25rem;
  width: 55%;
  font-style: italic;
  color: gold;
}

.btn button {
  margin: 0.5rem auto 1rem 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Colour Theme */

.title {
  animation: spin 2.5s linear;
}

img.x-mark {
  width: 15rem;
}

/* Elon Musk Theme */

img.elon-disappointed {
  width: 25rem;
}

img.elon-mad {
  width: 25rem;
}

img.elon-really {
  width: 25rem;
}
img.elon-what {
  width: 20rem;
}

img.protestor {
  width: 20rem;
}

/* The Office Theme */

img.dwight-pissed {
  width: 20rem;
}

img.scott-crying {
  width: 20rem;
}

img.scott-mad {
  width: 20rem;
}

img.scott-nooo {
  width: 20rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

/* Mobile responsiveness for portrait mode */

@media screen and (max-width: 415px) {
  /* Gameover modal part 1 */

  /* Elon Musk Theme */

  img.elon-disappointed {
    width: 20rem;
  }
  img.elon-mad {
    width: 20rem;
  }
  img.elon-really {
    width: 20rem;
  }
  img.elon-what {
    width: 20rem;
  }
  img.protestor {
    width: 20rem;
  }

  /* The Office Theme */

  img.dwight-pissed {
    width: 20rem;
  }
  img.scott-crying {
    width: 20rem;
  }
  img.scott-mad {
    width: 20rem;
  }
  img.scott-nooo {
    width: 20rem;
  }

  /* Gameover modal part 2*/

  .score-title {
    font-size: 2.25rem;
  }
  .score {
    font-size: 2.75rem;
  }

  .genius-level {
    font-size: 1.5rem;
  }

  .btn button {
    width: 45%;
    margin: 1rem auto 0rem 0.5rem;
  }

  img.patrick {
    width: 19rem;
  }

  img.novice {
    width: 15rem;
  }

  img.unexpected {
    width: 20rem;
  }

  img.christopher {
    width: 12rem;
  }

  img.isaac {
    width: 19rem;
  }

  img.garry {
    width: 19rem;
  }

  img.nikola {
    width: 12rem;
  }

  img.leonardo {
    width: 19rem;
  }

  img.albert {
    width: 13rem;
  }

  img.galaxy {
    width: 16rem;
  }

  .message {
    font-size: 1.25rem;
  }

  .message.christopher {
    width: 60%;
  }
  .message.unexpected {
    width: 60%;
  }

  .message.isaac {
    width: 70%;
  }

  .message.garry {
    width: 60%;
  }

  .message.leonardo {
    width: 60%;
  }

  .message.albert {
    width: 70%;
  }

  .message.galaxy {
    font-size: 1.25rem;
    width: 80%;
  }
}

@media screen and (max-width: 394px) {
  img.elon-disappointed {
    width: 19rem;
  }
  img.elon-mad {
    width: 19rem;
  }
  img.elon-really {
    width: 19rem;
  }
  img.elon-what {
    width: 19rem;
  }
  img.protestor {
    width: 19rem;
  }

  img.dwight-pissed {
    width: 19rem;
  }

  img.scott-crying {
    width: 19rem;
  }

  img.scott-mad {
    width: 19rem;
  }

  img.scott-nooo {
    width: 19rem;
  }

  /* Gameover modal part 2*/

  .score-title {
    font-size: 2rem;
  }
  .score {
    font-size: 2.5rem;
  }

  .genius-level {
    font-size: 1.25rem;
  }

  img.christopher {
    width: 19rem;
  }

  img.isaac {
    width: 18rem;
  }

  img.garry {
    width: 18rem;
  }

  .message.unexpected {
    width: 70%;
  }

  .message.leonardo {
    width: 62%;
  }

  .message.galaxy {
    width: 85%;
  }
}

@media screen and (max-width: 376px) {
  img.elon-disappointed {
    width: 18rem;
  }
  img.elon-mad {
    width: 18rem;
  }
  img.elon-really {
    width: 18rem;
  }
  img.elon-what {
    width: 18rem;
  }
  img.protestor {
    width: 18rem;
  }

  img.dwight-pissed {
    width: 18rem;
  }

  img.scott-crying {
    width: 18rem;
  }

  img.scott-mad {
    width: 18rem;
  }

  img.scott-nooo {
    width: 18rem;
  }

  /* Gameover modal part 2*/

  .message.garry {
    width: 70%;
  }

  .message.leonardo {
    width: 65%;
  }
}

@media screen and (max-width: 361px) {
  img.elon-disappointed {
    width: 17rem;
  }
  img.elon-mad {
    width: 17rem;
  }
  img.elon-really {
    width: 17rem;
  }
  img.elon-what {
    width: 17rem;
  }
  img.protestor {
    width: 17rem;
  }

  img.dwight-pissed {
    width: 17rem;
  }

  img.scott-crying {
    width: 17rem;
  }

  img.scott-mad {
    width: 17rem;
  }

  img.scott-nooo {
    width: 17rem;
  }

  .title {
    font-size: 4rem;
  }

  /* Gameover modal part 2*/

  img.patrick {
    width: 17rem;
  }

  img.unexpected {
    width: 17rem;
  }

  img.isaac {
    width: 17rem;
  }

  img.garry {
    width: 17rem;
  }

  img.nikola {
    width: 11rem;
  }

  img.leonardo {
    width: 18rem;
  }

  .message.novice {
    width: 65%;
  }

  .message.christopher {
    width: 70%;
  }
  .message.isaac {
    width: 80%;
  }

  .message.nikola {
    width: 55%;
  }

  .message.leonardo {
    width: 70%;
  }

  .message.albert {
    width: 80%;
  }

  .message.galaxy {
    width: 90%;
  }
}

@media screen and (max-width: 281px) {
  img.x-mark {
    width: 12rem;
  }

  img.elon-disappointed {
    width: 14rem;
  }
  img.elon-mad {
    width: 14rem;
  }
  img.elon-really {
    width: 14rem;
  }
  img.elon-what {
    width: 14rem;
  }
  img.protestor {
    width: 14rem;
  }

  img.dwight-pissed {
    width: 14rem;
  }

  img.scott-crying {
    width: 14rem;
  }

  img.scott-mad {
    width: 14rem;
  }

  img.scott-nooo {
    width: 14rem;
  }

  .title {
    font-size: 4.5rem;
  }

  /* Gameover modal part 2*/

  .score-title {
    width: 80%;
    margin: auto;
  }

  .genius-level {
    font-size: 1.5rem;
  }

  .genius-level span {
    display: block;
  }

  .btn button {
    width: 40%;
  }

  .btn button span {
    font-size: 1.25rem;
  }

  img.patrick {
    width: 13rem;
  }

  img.novice {
    width: 9.5rem;
  }

  img.unexpected {
    width: 13rem;
  }

  img.christopher {
    width: 8.5rem;
  }

  img.isaac {
    width: 13rem;
  }

  img.garry {
    width: 13rem;
  }

  img.nikola {
    width: 7rem;
  }

  img.leonardo {
    width: 13rem;
  }

  img.albert {
    width: 9rem;
  }

  img.galaxy {
    width: 12rem;
  }

  .message.novice {
    width: 65%;
  }

  .message.unexpected {
    width: 65%;
  }

  .message.christopher {
    width: 80%;
  }

  .message.isaac {
    width: 70%;
  }

  .message.garry {
    width: 90%;
  }

  .message.nikola {
    width: 70%;
  }

  .message.leonardo {
    width: 90%;
  }

  .message.albert {
    width: 100%;
  }

  .message.galaxy {
    width: 90%;
    font-size: 1rem;
  }
}

/* Mobile responsiveness for landscape mode */

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
  .first {
    flex-direction: row-reverse;
    align-items: center;
  }

  .title {
    margin: auto;
    font-size: 4rem;
    width: 100%;
  }

  .first img {
    margin-left: 1rem;
  }

  img.x-mark {
    width: 13rem;
  }

  img.elon-disappointed {
    width: 17rem;
  }
  img.elon-mad {
    width: 17rem;
  }
  img.elon-really {
    width: 17rem;
  }
  img.elon-what {
    width: 14rem;
  }
  img.protestor {
    width: 16rem;
  }

  img.dwight-pissed {
    width: 17rem;
  }
  img.scott-crying {
    width: 15rem;
  }
  img.scott-mad {
    width: 16rem;
  }
  img.scott-nooo {
    width: 16rem;
  }

  .score-title {
    font-size: 2.25rem;
  }

  .genius {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .genius-level {
    font-size: 1.25rem;
    position: relative;
    left: 8rem;
    margin-bottom: 0rem;
  }

  .genius-level span {
    display: block;
  }

  .genius-style {
    position: absolute;
    margin-right: 13rem;
  }

  .genius-style img.genius-img {
    margin-top: 0;
  }

  .genius-img.patrick {
    width: 12rem;
  }

  .genius-img.novice {
    width: 9.5rem;
  }

  .genius-img.unexpected {
    width: 16rem;
  }

  .genius-img.christopher {
    width: 8.5rem;
  }

  .genius-img.isaac {
    width: 14rem;
  }

  .genius-img.garry {
    width: 13rem;
  }

  .genius-img.nikola {
    width: 7rem;
  }

  .genius-img.leonardo {
    width: 16rem;
  }

  .genius-img.albert {
    width: 9rem;
  }

  .genius-img.galaxy {
    width: 12rem;
  }

  .message {
    position: relative;
    left: 8rem;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .message.patrick {
    margin-bottom: 3rem;
    width: 100%;
  }

  .message.novice {
    margin-bottom: 2rem;
    width: 50%;
  }

  .message.unexpected {
    margin-bottom: 1.75rem;
    width: 60%;
  }

  .message.christopher {
    margin-bottom: 2rem;
    width: 70%;
  }

  .message.isaac {
    margin-bottom: 1.75rem;
    width: 55%;
  }

  .message.garry {
    margin-bottom: 1.75rem;
    width: 55%;
  }

  .message.nikola {
    margin-bottom: 1.75rem;
    width: 43%;
  }

  .message.leonardo {
    margin-bottom: 1.75rem;
    width: 55%;
  }

  .message.albert {
    margin-bottom: 1.75rem;
    width: 60%;
  }

  .message.galaxy {
    margin-bottom: 0.5rem;
    width: 45%;
    font-size: 1rem;
  }

  .btn button {
    width: 9rem;
    height: 3.25rem;
  }

  .btn button span {
    font-size: 1.5rem;
  }
}
