.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: lightcyan;
}

.preview {
  margin-top: 1rem;
}

.select-theme {
  margin-bottom: 1rem;
}

.preview img {
  text-align: center;
  border: 1px;
  border-radius: 10px;
}

img.colours {
  width: 10rem;
}

img.elon-musk {
  width: 12rem;
}

img.the-office {
  width: 11rem;
}

.select-options label {
  margin-right: 5px;
  font-size: 20px;
}

.select-options select {
  background-color: transparent;
  color: gold;
  font-size: 20px;
  text-align: center;
  border: none;
  font-family: "Lalezar-Regular";
}

.select-options option {
  background: rgb(0, 0, 0);
  font-family: "Lalezar-Regular";
}

.title {
  display: flex;
  margin-bottom: 1rem;
}

.title h1 {
  font-size: 2rem;
}

.title img {
  position: relative;
  width: 3rem;
  padding: 0.25rem;
  bottom: 0.25rem;
}

.slide-down {
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Mobile responsiveness for landscape mode */

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
  .menu {
    position: relative;
    margin: auto 1rem;
  }

  .title {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .menu .title img {
    width: 3rem;
    margin-right: 0.5rem;
  }

  .menu label {
    font-size: 1rem;
  }

  .select-options {
    display: flex;
    margin: 0.5rem auto;
  }

  .menu .select-options label {
    font-size: 1.25rem;
  }

  .menu .select-options select {
    font-size: 1.25rem;
    display: block;
    margin: auto;
  }

  .menu .select-options h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .preview {
    order: 3;
    margin-left: 4rem;
    margin-top: 0;
  }

  img.colours {
    width: 10rem;
  }

  img.elon-musk {
    width: 11rem;
  }

  img.the-office {
    width: 10rem;
  }

  .start {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .start button {
    margin-top: 0;
    width: 9rem;
    height: 3rem;
  }
}
