.level {
  text-align: center;
  margin-bottom: 1rem;
}

.level h2 {
  font-size: 2.5rem;
}

/* Mobile responsiveness for landscape mode */

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
  .level {
    margin: auto;
  }
}
