.tile-2x2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
}

.play {
  background-color: #ddd;
  border: none;
  font-size: 25px;
  color: black;
  padding: 30px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
