.tile-2x2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  @font-face {
    font-family: "waghupersonal_use";
    src: url("../../assets/font/waghu-webfont.woff2") format("woff2"),
      url("../../assets/font/waghu-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
