* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lalezar-Regular";
  src: url("../../Font/Lalezar-Regular.otf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Lalezar-Regular";
  color: white;
}

.app {
  background-size: cover;
  background-position: bottom;
  position: relative;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

/* .app.gameover {
  background-color: #ff0000;
} */

main {
  min-height: 100vh;
}

.app span {
  margin-left: 10px;
}

.gamebutton-layout {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

.gamebutton-layout.tiles-2 {
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.gamebutton-layout.tiles-2 button {
  width: 12rem;
  height: 12rem;
}

.gamebutton-layout.tiles-4 {
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.gamebutton-layout.tiles-4 button {
  width: 11rem;
  height: 11rem;
}

.gamebutton-layout.tiles-9 button {
  width: 8.25rem;
  height: 8.25rem;
}

.gamebutton-layout.tiles-9 {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.high-score {
  font-size: 2.5rem;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile device responsiveness for portrait mode */

@media screen and (max-width: 415px) {
  .gamebutton-layout.tiles-9 button {
    width: 8rem;
    height: 8rem;
  }

  .gamebutton-layout {
    margin-bottom: 175px;
  }
}

@media screen and (max-width: 394px) {
  .gamebutton-layout {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 376px) {
  .gamebutton-layout.tiles-9 button {
    width: 7.25rem;
    height: 7.25rem;
  }

  .gamebutton-layout {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 361px) {
  .gamebutton-layout {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 281px) {
  .gamebutton-layout.tiles-2 button {
    width: 8rem;
    height: 8rem;
  }

  .gamebutton-layout.tiles-4 button {
    width: 8.25rem;
    height: 8.25rem;
  }
  .gamebutton-layout.tiles-9 button {
    width: 5.75rem;
    height: 5.75rem;
  }
}

/* Mobile device responsiveness for landscape mode */

@media screen and (max-height: 541px) {
  main {
    display: flex;
  }

  .gamebutton-layout {
    align-content: flex-end;
  }

  .gamebutton-layout.tiles-2 {
    margin-bottom: 215px;
    margin-right: 55px;
  }

  .gamebutton-layout.tiles-2 button {
    width: 9.25rem;
    height: 9.25rem;
  }

  .gamebutton-layout.tiles-4 {
    margin-bottom: 90px;
    margin-right: 55px;
  }

  .gamebutton-layout.tiles-4 button {
    width: 9.25rem;
    height: 9.25rem;
  }

  .gamebutton-layout.tiles-9 {
    margin-top: 85px;
    margin-right: 40px;
  }

  .gamebutton-layout.tiles-9 button {
    width: 7rem;
    height: 7rem;
  }

  .high-score {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 50%;
  }
}

@media screen and (max-height: 450px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .gamebutton-layout {
    align-content: flex-end;
  }

  .gamebutton-layout.tiles-2 {
    margin-bottom: 145px;
    margin-right: 65px;
  }

  .gamebutton-layout.tiles-2 button {
    width: 11rem;
    height: 11rem;
  }

  .gamebutton-layout.tiles-4 {
    margin-bottom: 25px;
    margin-right: 100px;
  }

  .gamebutton-layout.tiles-9 {
    margin-top: 85px;
    margin-right: 95px;
  }

  .gamebutton-layout.tiles-9 button {
    width: 6.5rem;
    height: 6.5rem;
  }

  .high-score {
    top: 20px;
    left: 20px;
  }
}

@media screen and (max-height: 413px) {
  .gamebutton-layout.tiles-2 {
    margin-bottom: 145px;
    margin-right: 80px;
  }

  .gamebutton-layout.tiles-4 {
    margin-bottom: 20px;
    margin-right: 115px;
  }

  .gamebutton-layout.tiles-9 {
    margin-right: 110px;
  }

  .high-score {
    right: 545px;
  }
}

@media screen and (max-height: 394px) {
  .gamebutton-layout.tiles-2 {
    margin-right: 50px;
    margin-bottom: 120px;
  }

  .gamebutton-layout.tiles-2 button {
    width: 11rem;
    height: 11rem;
  }

  .gamebutton-layout.tiles-4 {
    margin-bottom: 10px;
    margin-right: 90px;
  }

  .gamebutton-layout.tiles-9 {
    margin-top: 85px;
    margin-right: 95px;
  }

  .gamebutton-layout.tiles-9 button {
    width: 6rem;
    height: 6rem;
  }

  .high-score {
    left: 20px;
  }
}

@media screen and (max-height: 376px) {
  .gamebutton-layout.tiles-2 {
    margin-bottom: 135px;
    margin-right: 40px;
  }

  .gamebutton-layout.tiles-2 button {
    width: 9rem;
    height: 9rem;
  }

  .gamebutton-layout.tiles-4 {
    margin-bottom: 35px;
    margin-right: 55px;
  }

  .gamebutton-layout.tiles-4 button {
    width: 8rem;
    height: 8rem;
  }

  .gamebutton-layout.tiles-9 {
    margin-top: 70px;
    margin-right: 45px;
  }

  .high-score {
    top: 10px;
    left: 5px;
  }
}

@media screen and (max-height: 361px) {
  .gamebutton-layout.tiles-4 {
    margin-bottom: 25px;
    margin-right: 75px;
  }

  .gamebutton-layout.tiles-9 {
    margin-top: 80px;
    margin-right: 75px;
  }

  .gamebutton-layout.tiles-9 button {
    width: 5.5rem;
    height: 5.5rem;
  }

  .high-score {
    left: 15px;
    top: 5px;
  }
}

@media screen and (max-height: 281px) {
  .gamebutton-layout.tiles-2 {
    margin-bottom: 85px;
    margin-right: 15px;
  }

  .gamebutton-layout.tiles-2 button {
    width: 8rem;
    height: 8rem;
  }

  .gamebutton-layout.tiles-4 {
    margin-bottom: 10px;
    margin-right: 40px;
  }

  .gamebutton-layout.tiles-9 {
    margin-top: 45px;
    margin-right: 35px;
  }

  .gamebutton-layout.tiles-4 button {
    width: 6.5rem;
    height: 6.5rem;
  }

  .gamebutton-layout.tiles-9 button {
    width: 4.75rem;
    height: 4.75rem;
  }

  .high-score {
    font-size: 2.25rem;
    top: 2px;
    left: 30px;
  }
}
