.play-again {
  margin: 1rem, auto;
}

.btn {
  width: 11.25rem;
  height: 3.75rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 10px;
  margin-top: 25px;
}

.btn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  border-style: none;
  border-radius: 10px;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: white;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Lalezar-Regular";
}

.btn:hover span {
  transition: 1s ease-in-out;
  color: black;
}

/* Mobile responsiveness for landscape mode */

/* @media screen and (max-height: 541px) {
  .btn {
    width: 11.25rem;
    height: 3.75rem;
    margin-top: 20px;
  }
}

@media screen and (max-height: 415px) {
  .btn {
    width: 10.25rem;
    height: 3.5rem;
    margin-top: 10px;
  }
}
@media screen and (max-height: 394px) {
  .btn {
    width: 9.5rem;
    height: 3rem;
    margin-top: 5px;
  }
}

@media screen and (max-height: 376px) {
  .btn {
    height: 2.75rem;
  }
}
@media screen and (max-height: 361px) {
  .btn {
    width: 9.5rem;
    height: 2.75rem;
    margin-top: 2.5px;
  }
}

@media screen and (max-height: 280px) {
  .btn {
    width: 9rem;
    height: 2.5rem;
    margin-top: 2px;
  }
} */
