.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: clamp(35%, 32rem, 90%);
  height: clamp(40%, 34rem, 90%);
  background-color: black;
  padding: 0, 2rem;
  border-radius: 14px;
  border-style: solid;
  border-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
