.game-header {
  font-size: 25px;
}

.game-header p {
  text-align: center;
  margin: 10px;
}

/* Mobile responsiveness for portrait mode - Samsung Galaxy Fold*/

@media screen and (max-width: 281px) {
  .game-header {
    font-size: 20px;
  }
}

/* Mobile responsiveness for landscape mode */

@media screen and (max-height: 541px) {
  .game-header {
    margin: 175px auto;
  }
}

@media screen and (max-height: 450px) {
  .game-header {
    margin: 125px auto;
  }
}

@media screen and (max-height: 415px) {
  .game-header {
    margin: 100px auto;
  }
}

@media screen and (max-height: 394px) {
  .game-header {
    margin: 100px auto;
  }
}

@media screen and (max-height: 376px) {
  .game-header {
    margin: 100px auto;
  }
}

@media screen and (max-height: 361px) {
  .game-header {
    margin: 75px auto;
  }
}

@media screen and (max-height: 281px) {
  .game-header {
    margin: 75px auto;
  }
}
