.game-header {
  font-size: 1.5rem;
  text-align: center;
}

.game-header p {
  margin: 10px;
}

.game-header span {
  display: inline-block;
}

@media only screen and (min-width: 480px) and (max-width: 1000px) and (orientation: landscape) {
  .game-header {
    position: absolute;
    margin-top: 3rem;
  }
}
